/* Aquí puedes escribir tu comentario */
.ceed{
	height: 100vh;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	color: #333;
	line-height: 1.2em;
}
.ceed h1{
	font-size: 1.6rem;
	font-weight: 900;
	margin: 0 0 10px;
	color: #000;
	text-align: left;
}
.ceed h2{
	font-size: 1.5rem;
	font-weight: 800;
	margin: 0 0 10px;
	color: #000;
	text-align: left;
}
.ceed h3{
	font-size: 1.4rem;
	font-weight: 700;
	margin: 0 0 10px;
	color: #111;
	text-align: left;
}
.ceed h4{
	font-size: 1.3rem;
	font-weight: 700;
	margin: 0 0 10px;
	color: #222;
	text-align: left;
}
.ceed h5{
	font-size: 1.2rem;
	font-weight: 600;
	margin: 0 0 10px;
	color: #222;
	line-height: 1.2;
	text-align: left;
}
.ceed h6{
	font-size: 1.1rem;
	font-weight: 600;
	margin: 0 0 10px;
	color: #333;
	line-height: 1.2;
	text-align: left;
}
.ceed p{
	font-size: 1em;
	font-weight: 400;
	margin-top: 0;
	margin-bottom:0;
	color: #000;
	line-height: 1.2rem;
	text-align: left;
}
.ceed ul, .ceed li{
	list-style-type: none;
}

@media screen and (max-width: 480px){
	.ceed{
		height: 100vh;
		overflow-y: auto;
	}
	.ceed .assignatura{
		height: 8vh;
		display: flex;
		align-items: center;
		/*align-content: center;
		justify-content: space-between;*/
		border-bottom: solid 5pt #000;
		background-size: auto;
		background-position: right;
		background-repeat: no-repeat;
	}
	.ceed .assignatura h4{
		margin: 0 0 0 0.5rem;
		padding: 0;
		text-transform: uppercase;
		font-size: 1.1rem;
		font-weight: 900;
	}
	.ceed .info{
		/*height: 90vh;*/
		box-sizing: border-box;
	}
	.ceed .icones{
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-between;
		list-style-type: none;
		margin: 0;
		padding: 0.5rem 0 0 0;
		height: 7vh;
		width: 90%;
		text-align: center;
	}
	.ceed .icon{
		font-size: 0.9em;
		cursor: pointer;
		line-height: 0.5;
		padding: 0.5rem;
		color: #666;
		text-align: center;
		background-color: pink;
	}
/*	.ceed .icon:hover{
		color: rgb(58,174,108);
		/*background-color: rgba(58,174,108,0.1);*/
	/*	border-bottom: solid 2pt rgb(58,174,108);
	}
	.ceed .icon:hover p{
		font-weight: 600;
		color: rgb(58,174,108);
	}*/
	.ceed .icon i{
		font-size: 1.2em;
		text-align: center;
	}
	.ceed .icon .texticon{
		color: #666;
		font-size: 0.7rem;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	.ceed .bloc{
		padding: 1rem 0 1rem 0em;
		overflow: hidden;
		display: none;
		box-sizing: border-box;
	}
	.ceed .x{
		text-transform: uppercase;
		float: right;
		font-size: 1.2em;
		font-weight: 100;
		padding: 0 1rem 0 0;
		cursor: pointer;
	}
	.ceed .bloc h5{
		text-transform: uppercase;
		font-size: 0.9em;
		margin: 0 0rem 0.5rem 0rem;
		padding: 0 0 0.25rem 0;
		/*border-bottom: solid 1pt #000;*/
	}
	.ceed .bloc h6{
		text-transform: uppercase;
		font-weight: 500;
		font-size: 0.85rem;
		margin: 0 0 0 0rem;
		padding: 0.5rem 0 0 0;
	}
	.ceed .bloc ul{
		padding: 0rem 0rem 0rem 0em;
		list-style-type: none;
		font-size: 0.95rem;
		color: #000;
	}
	.ceed .bloc ul li{
		font-size: 0.85rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
		line-height: 1rem;
	}
	.ceed .bloc .tri{
		font-weight: 500;
	}
	.ceed .bloc p{
		font-size: 0.85rem;
		padding: 0rem 0rem 0rem 0rem;
	}
	.ceed .bloc div{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	.ceed .bloc div ul{
		padding: 0.5rem 0rem 0rem 0rem;
		margin: 0;
		list-style-type: none;
	}
	.ceed .bloc div p{
		padding: 0.5rem 0rem 0rem 0rem;
		margin: 0;
	}
	.ceed .bloc div ul li{
		font-size: 0.85rem;
		list-style-type: none;
		line-height: 0.9rem;
	}
	.ceed a{
		text-decoration: none;
	}
	.ceed .boto{
		width: 50%;
		height: 2.5rem;
		padding: 0 0 0 0.5rem;
		margin: 0em;
		border-radius: 5px;
		border: solid 2pt rgb(58,174,108);
		background-color: rgb(58,174,108);
		color:#fff;
		font-weight: 600;
	}
	.ceed .profe{
		padding: 0rem 0 0rem 0rem;
		margin: 0;
		display: flex;
		box-sizing: border-box;
	}
	.ceed .profeimg{
		width: 15%;
		height: auto;
		padding: 0.5rem;
	}
	.ceed .profeimg img{
		width: 100%;
		height: auto;
		border-radius: 50%;
		padding: 0 0 0 0;
	}
	.ceed .profe ul{
		width: 85%;
		list-style-type: none;
		margin: 0;
		padding: 0 0 0 0rem;
	}
	.ceed .nom{
		font-weight:600;
		font-size: 1rem;
		line-height: 0.9rem;
	}
	.ceed .dpt{
		font-style: italic;
		font-weight: 500;
		font-size: 0.9em;
		line-height: 0.9rem;
	}
	.ceed .correu{
		font-size: 0.85em;
		padding-top: 0em;
		line-height: 0.9rem;
	}
	.ceed .tlf{
		font-size: 0.85em;
		line-height: 0.9rem;
	}
	.ceed .titol, .ceed .tema{
		background-color:rgb(58,174,108);
		margin: 0rem 0 0 0rem;
		padding: 0.5rem 0rem 0.1rem 0;
	}
	.ceed .titol i, .ceed .tema i{
		padding: 0 0rem 0 0rem;
	}

}
@media screen and (min-width: 481px){
	.ceed{
		height: 100vh;
		overflow-y: auto;
	}
	.ceed .assignatura{
		height: 8vh;
		display: flex;
		align-items: center;
		/*align-content: center;
		justify-content: space-between;*/
		background-color: rgb(58,174,108);
		border-bottom: solid 5pt #000;
		background-image: url("https://portal.edu.gva.es/ceedcv/wp-content/uploads/sites/133/2022/09/distancia.svg");
		background-size: auto;
		background-position: right;
		background-repeat: no-repeat;
	}
	.ceed .assignatura h4{
		margin: 0 0 0 0rem;
		text-transform: uppercase;
	}
	.ceed .info{
		/*height: 90vh;*/
		border-right: solid 10px rgb(58,174,108);
		box-sizing: border-box;
	}
	.ceed .icones{
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		padding: 0.5rem 0 0 0;
		height: 7vh;
	}
	.ceed .icon{
		font-size: 0.9em;
		display: flex;
		align-items: center;
		cursor: pointer;
		line-height: 0.5;
		padding: 0.5em 2em;
		color: #999;
		float: left;
		/*border-bottom: solid 2pt #999;*/
	}
	.ceed .icon:hover{
		color: rgb(58,174,108);
		/*background-color: rgba(58,174,108,0.1);*/
		border-bottom: solid 2pt rgb(58,174,108);
	}
	.ceed .icon:hover p{
		font-weight: 600;
		color: rgb(58,174,108);
	}
	.ceed .icon i{
		margin-right: 0.3em;
		font-size: 1.5em;
	}
	.ceed .icon .texticon{
		color: #333;
		margin: 0;
		padding: 0;
	}
	.ceed .bloc{
		padding: 1rem 0 1rem 0em;
		overflow: hidden;
		display: none;
		box-sizing: border-box;
	}
	.ceed .x{
		text-transform: uppercase;
		float: right;
		font-size: 1.4em;
		font-weight: 100;
		padding: 0 2rem 0 0;
		cursor: pointer;
	}
	.ceed .bloc h5{
		text-transform: uppercase;
		font-size: 0.9em;
		margin: 0 1rem 0.5rem 2rem;
		padding: 0 0 0.25rem 0;
		/*border-bottom: solid 1pt #000;*/
	}
	.ceed .bloc h6{
		text-transform: uppercase;
		font-weight: 500;
		font-size: 0.85rem;
		margin: 0 0 0 2rem;
		padding: 0.5rem 0 0 0;
	}
	.ceed .bloc ul{
		padding: 0rem 0 0rem 2em;
		list-style-type: none;
		font-size: 0.95rem;
		color: #000;
	}
	.ceed .bloc ul li{
		font-size: 0.85rem;
		list-style-type: none;
	}
	.ceed .bloc p{
		font-size: 0.85rem;
		padding: 0rem 0 0rem 2rem;
	}
	.ceed .bloc div ul{
		padding: 0.5rem 0 0rem 2rem;
		margin: 0;
		list-style-type: none;
	}
	.ceed .bloc div p{
		padding: 0.5rem 0 0rem 2rem;
		margin: 0;
	}
	.ceed .bloc div ul li{
		font-size: 0.85rem;
		list-style-type: none;
	}
	.ceed a{
		text-decoration: none;
	}
	.ceed .boto{
		width: 50%;
		height: 2.5rem;
		padding: 0;
		margin: 0em;
		border-radius: 5px;
		border: solid 2pt rgb(58,174,108);
		background-color:rgb(58,174,108); color:#fff;
		font-weight: 600;
	}
	.ceed .profe{
		float: left;
		width: 50%;
		padding: 1rem 0 1rem 2rem;
		margin: 0;
		display: flex;
		box-sizing: border-box;
	}
	.ceed .profeimg{
		width: 10%;
		height: auto;
		padding: 0;
	}
	.ceed .profeimg img{
		width: 100%;
		height: auto;
		border-radius: 50%;
	}
	.ceed .profe ul{
		width: 90%;
		list-style-type: none;
		margin: 0;
		padding: 0 0 0 1rem;
	}
	.ceed .nom{
		font-weight:600;
		font-size: 1em;
	}
	.ceed .dpt{
		font-style: italic;
		font-weight: 500;
		font-size: 0.9em;
	}
	.ceed .correu{
		font-size: 0.85em;
		padding-top: 0.5em;
	}
	.ceed .tlf{
		font-size: 0.85em;
	}
	.ceed .titol, .ceed .tema{
		background-color:rgb(58,174,108);
		margin: 0rem 0 0 0rem;
		padding: 1rem 1rem 0.5rem 0;
	}
	.ceed .titol i, .ceed .tema i{
		padding: 0 0.25rem 0 0rem;
	}
	.ceed .tutories{
		overflow: hidden;
	}
	.ceed .colectiu, .ceed .individu{
		float: left;
		width: 49%;
	}
	.ceed .norma{
		float: left;
		width: 98%;
	}
	.ceed .norma p{
		column-count: 2;
	}
}
