	.ceed{
		font-family: Arial, sans-serif;
		font-weight: 400;
		margin: 0 !important;
		padding: 0 !important;
		border: 0 !important;
		box-sizing: border-box !important;
		overflow-y: auto;
		color: #333;
		font-size: 16px;
		line-height: 1.4rem;
	}
	.ceed .logos{
		box-sizing: border-box !important;
		overflow: hidden;
		height: 7vh;
		padding: 0.5rem 0rem 0.5rem 0;
	}
	.ceed .logos .xarxes{
		margin: 0;
		float: left;
		box-sizing: border-box;
		height: 6vh;
		padding: 0rem 0.5rem 0.5rem 0.5rem !important;
	}
	.ceed .logos .dr{
		width: 40%;
		text-align: right;
		height: 6vh;
		padding: 0.5rem 0 0 0;
	}
	.ceed .logos .esq{
		width: 60%;
		height: 5vh;
		padding: 0.25rem 0 0.25rem 0.25rem;
	}
	.ceed .logos img{
		width: auto;
		height: 100%;
	}
	.ceed .logos svg{
		width: auto;
		height: 60%;
		padding: 0.35rem 0 0 0.5rem;
	}
	.ceed .assignatura{
		display: flex;
		align-items: center;
		border-bottom: solid 5pt #000;
		background-size: auto;
		background-position: right;
		background-repeat: no-repeat;
		min-height: 7vh;
	}
	.ceed .assignatura h4{
		margin: 0 0 0 0.5rem;
		padding: 0;
		text-transform: uppercase;
		font-size: 1.1rem;
		letter-spacing: 3px;
		font-weight: 800 !important;
	}
	.ceed .info{
		/*height: 90vh;*/
		box-sizing: border-box;
	}
	.ceed .icones{
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-between;
		list-style-type: none;
		margin: 0;
		padding: 0rem 0 0 0;
		height: 8vh;
		width: 90%;
		text-align: center;
	}
	.ceed .icon{
		width: 20%;
		font-size: 0.9rem;
		cursor: pointer;
		line-height: 1rem;
		padding: 1rem;
		color: #666;
		text-align: center;
	}
	.ceed .icon:hover{
		color: #000;
		border-bottom: solid 2pt #000;
	}
	.ceed .icon:hover p{
		font-weight: 600;
		color: #000;
	}
	.ceed .icon i{
		font-size: 1.5rem;
		text-align: center;
		padding: 0.5rem;
	}
	.ceed .icon .texticon{
		color: #666;
		font-size: 0.7rem;
		text-align: center;
		margin: 0;
		padding: 0;
		display: none;
	}
	.ceed .bloc{
		overflow: hidden;
		display: none;
		box-sizing: border-box;
		padding: 1rem 0 1rem 0em;
	}
	.ceed .x{
		text-transform: uppercase;
		float: right;
		cursor: pointer;
		font-size: 1.2em;
		font-weight: 100;
		padding: 0 1rem 0 0;
	}
	.ceed .bloc h5{
		text-transform: uppercase;
		font-weight: 600 !important;
		font-size: 0.9rem;
		margin: 0 0rem 0.5rem 0rem;
		padding: 0 0 0.25rem 0;
		/*border-bottom: solid 1pt #000;*/
	}
	.ceed .bloc ul{
		list-style-type: none;
		font-size: 0.95rem;
		color: #000;
		line-height: 1.2rem;
		margin: 0;
		padding: 0;
		display: block;
	}
	.ceed .bloc ul li{
		font-size: 0.85rem;
		list-style-type: none;
		line-height: 1.2rem;
		margin: 0;
		padding: 0 0 0 0.5rem;
		display: block;
	}
	.ceed .bloc .tri{
		font-weight: 600 !important;
	}
	.ceed .bloc p{
		font-size: 0.85rem;
		padding: 0rem 0rem 0rem 0rem;
	}
	.ceed .bloc div{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	.ceed .bloc div ul{
		margin: 0;
		list-style-type: none;
		line-height: 1.2rem;
		padding: 0.75rem 0rem 0rem 0rem !important;
		display: block;
	}
	.ceed .bloc div p{
		margin: 0;
		padding: 0.5rem 0rem 0rem 0rem;
	}
	.ceed .bloc div ul li{
		margin: 0;
		padding: 0rem 0 0 0;
		display: block;
	}
	.ceed a{
		text-decoration: none;
	}
	.ceed .boto{
		width: 50%;
		height: 2rem;
		margin: 0.5rem 0 0 0;
		padding: 0.5rem 0.5rem 2rem 0.5rem;
		border-radius: 5px;
		color:#fff;
		font-weight: 600;
		text-decoration: none;
		display: block;
	}
	.ceed .boto:hover{
		opacity: 0.9;
		box-shadow: 0 0 0 1pt #333;
	}
	.ceed .profe{
		padding: 0rem 0 0rem 0rem;
		display: flex;
		margin: 0;
		box-sizing: border-box;
	}
	.ceed .profeimg{
		width: 13%;
		padding: 0 0rem 0 0;
		height: auto;
	}
	.ceed .profeimg img{
		width: 100%;
		height: auto;
		border-radius: 50%;
		padding: 0 0 0 0;
	}
	.ceed .profe ul{
		width: 87%;
		padding: 0 0 0 0.5rem !important;
		display: block;
		list-style-type: none;
		margin: 0;
	}
	.ceed .nom{
		font-weight:600;
		font-size: 1rem;
		line-height: 0.7rem;
		padding: 0rem 0 0rem 0rem !important;
	}
	.ceed .dpt{
		font-style: italic;
		font-weight: 500;
		font-size: 0.9rem;
		line-height: 0.7rem;
		padding: 0rem 0 0rem 0rem !important;
	}
	.ceed .correu{
		font-size: 0.85em;
		line-height: 0.7rem;
		padding: 0rem 0 0rem 0rem !important;
	}
	.ceed .tlf{
		font-size: 0.85em;
		line-height: 0.7rem;
		padding: 0rem 0 0rem 0rem !important;
	}
	.ceed .titol, .ceed .tema{
		min-height: 5vh;
		padding: 0rem 0rem 0.75rem 0 !important;
	}
	.ceed .titol h4, .ceed .tema h5{
		margin: 0rem 0 0 0rem;
		padding: 0.5rem 0rem 0.1rem 0 !important;
		font-weight: 700 !important;
	}
	.ceed .titol h4 .fa-chevron-right, .ceed .tema h5 .fa-chevron-right{
		margin: 0 0.35rem 0 0.5rem !important;
		display: inline-block;
	}
	.ceed .norma{
		margin: 0;
		padding: 0.5rem 0 0 0;
	}
	.ceed .norma h6{
		padding: 0.5rem 0 0 0;
		margin: 0;
		font-size: 0.9em;
	}
	.ceed .norma p{
		color: #999;
		font-style: italic !important;
		margin: 0;
		padding: 0;
	}
	.ceed .contingut{
		padding: 0.5rem 0 0 0;
		box-sizing: border-box;
	}
	.ceed .contingut .media, .ceed .contingut .mediatext, .ceed .contingut .mediavideo{
		box-sizing: border-box;
	}
	.ceed .contingut .mediatext p{
		font-size: 0.85rem;
		list-style-type: none;
		line-height: 1.2rem;
		padding: 0rem 0 0.5rem 0rem;
	}
	.ceed .contingut .mediavideo{
  	width: 100%;
  	padding-top: 56.25%;
		position: relative;
		overflow: hidden;
	}
	.ceed .contingut .mediavideo .responsive-iframe {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		border: none;
	}
	.ceed h1{
		font-size: 1.6rem;
		font-weight: 900;
		margin: 0 0 10px;
		color: #000;
		text-align: left;
	}
	.ceed h2{
		font-size: 1.5rem;
		font-weight: 800;
		margin: 0 0 10px;
		color: #000;
		text-align: left;
	}
	.ceed h3{
		font-size: 1.4rem;
		font-weight: 700;
		margin: 0 0 10px;
		color: #111;
		text-align: left;
	}
	.ceed h4{
		font-size: 1.3rem;
		font-weight: 700;
		margin: 0 0 10px;
		color: #222;
		text-align: left;
	}
	.ceed h5{
		font-size: 1.2rem;
		font-weight: 600;
		margin: 0 0 10px;
		color: #222;
		line-height: 1.2;
		text-align: left;
	}
	.ceed h6{
		font-size: 1.1rem;
		font-weight: 600;
		margin: 0 0 10px;
		color: #333;
		line-height: 1.2;
		text-align: left;
	}
	.ceed p{
		font-size: 1em;
		font-weight: 400;
		margin-top: 0;
		margin-bottom:0;
		color: #000;
		line-height: 1.2rem;
		text-align: left;
	}
	.ceed ul, .ceed li{
		list-style-type: none;
		display: block;
	}
	.fw5{
		font-weight: 500;
	}
	.fw6{
		font-weight: 600;
	}
